:root {
    --dark: #333333;
    --grey: #6d6c6c;
}
* {
    font-family: 'Raleway', sans-serif;
}
body {
    /*padding-bottom: 50px;*/
    margin: 0 auto;
}
main {
    margin-top: auto;
    height: 200px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 0 40px;
    grid-template-areas: ". content content content content .";
}
.grid-video {
    grid-template-areas: "video video video benefits benefits benefits";
    margin-top: 100px;
    top: 0;
    align-items: center;
    transform: translateY(-400px);
}
.grid-benefit-detail {
    margin-top: 4em;
    transform: translateY(-400px);

}
.grid-video video {
    grid-area: video;
    width: 100%;
    max-width: 900px;
}
.content {
    grid-area: content;
    margin-top: 1em;
    max-width: 1000px;
    width: 100%;
    z-index: 10;
}
.dark-header {
    background-color: var(--dark);
    color: white;
    position: relative;
    z-index: 1;
}
.light-header {
    background-color: var(--grey);
    color: white;
    padding-top: 500px;
    margin-top: -750px;
}
.brand-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 30px;
    margin-right: .5em;
    color: white;
    fill: white;
}
.title {
    font-size: 3em;
    text-align: center;
    margin: 0;
}
.subtitle {
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;
}
.dark-header-divider {
    background-image: url("/images/wave01.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    height: 350px;
    top: -135px;
    position: relative;
    transform: scale(1,.25);
}
.light-header-divider {
    background-image: url("/images/wave02.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    height: 450px;
    top: -130px;
    position: relative;
    transform: scale(-1,.25) translateY(-50%);
    z-index: -10;
}
.email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20px;
    font-size: 1.25em;
}
.email-form input {
    background-color: rgba(255,255,255,.20);
    color: white;
    border: 2px solid white;
    border-radius: .25em;
    padding: .25em .5em;
    margin-right: 1em;
    outline: none;
    flex-grow: 1;
}
.email-form input:focus {
    background-color: rgba(255,255,255,.30);
}
.email-form input::placeholder {
    color: white;
}
.email-form button {
    background-color: var(--dark);
    color: white;
    border: 2px solid white;
    border-radius: .25em;
    padding: .25em .5em;
    max-width: 250px;
    cursor: pointer;
}
.email-form button:hover, .email-form button:focus {
    background-color: rgba(51,51,51,.7);
    scale: 1.05;
}
.benefits-section {
    grid-area: benefits;
    margin-left: 3em;
    /*justify-self: flex-start;*/
}
.benefit img{
    height: 1.5em;
    padding-right: 1em;
}
.benefit {
    font-size: 1.5em;
    align-items: center;
    padding: .25em 0;
}
.benefit-detail {
    grid-column: span 2;
    margin: 2em;
}
.benefit-detail-title {
    text-align: center;
    font-size: 1.5em;
    color: var(--grey);
}
.benefit-detail-text {
    font-size: 1em;
    color: var(--grey);
    font-weight: lighter;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: "content";
    }
    .grid-video {
        grid-template-columns: 1fr;
        grid-template-areas: "video" "benefits";
    }
    .grid-video video {
        justify-self: center;
    }
    .grid-benefit-detail {
        grid-template-columns: repeat(6, 1fr);
    }
    .benefits-section {
        margin-top: 2em;
        margin-left: 0;
        justify-self: center;
    }
}
@media (max-width: 800px) {
    .grid-benefit-detail {
        grid-template-columns: 1fr;
    }
    .email-form {
        flex-direction: column;
    }
    .email-form button {
        max-width: initial;
        width: 100%;
    }
    .email-form input {
        margin-right: 0;
        margin-bottom: 1em;
        max-width: 100%;
        min-width: 100%;
    }
    .benefit {
        font-size: 2em;
    }
    .benefit img {
        height: 1em;
    }
}
@media (max-width: 500px) {
    .brand-name {
        display: none;
    }
    .logo {
        margin-top: 1em;
    }
    .email-form {
        margin: 0;
        font-size: 1.25em;
    }
    .benefit {
        font-size: 1.25em;
    }
    .benefit img {
        height: 1.25em;
        margin-right: .5em;
    }
    .benefit title {
        font-size: 1.25em;
    }
    .benefit text {
        font-size: 1.15em;
    }
    .benefit-detail {
        margin: 1em;
    }
    .grid-benefit-detail {
        margin-top: 2em;
    }
}